<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/jackwuersch/Expat-Unlocked" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://twitter.com/sijibills" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    siji brought to you by Sherly, Ivan, Jack & Isaac

  </div>
</div>
