<div class="profile-stats__heading">
  <h5><%= title %> Bills</h5>
  <i class="profile-stats__display fas fa-chevron-circle-down"></i>
</div>
<div class="profile-stats__data">
  <div class="profile-stats__highest">
    <h5>Highest</h5>
    <p>¥<%= number_with_delimiter(stats[:max]) %></p>
  </div>
  <div class="profile-stats__lowest">
    <h5>Lowest</h5>
    <p>¥<%= number_with_delimiter(stats[:min]) %></p>
  </div>
  <div class="profile-stats__average">
    <h5>Average</h5>
    <p>¥<%= number_with_delimiter(stats[:average]) %></p>
  </div>
</div>
