<h1>New Flat</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= render 'form', flat: @flat %>
      <%= link_to 'Back', flats_path %>
    </div>
  </div>
</div>
