      <div class="footer">
        <a href="/" class="navbar-link">
          <%= image_tag 'logo.png', class: "logo" %>
        </a>
        <ul>
          <li>Buy</li>
          <li>Sell</li>
          <li>Trade</li>
        </ul>
      </div>


<!-- <div class="container">
  <div class="row">
    <div class="col-md-12 center-content">

    </div>
  </div>
</div>
 -->
