<h1>UserDocument#creation_confirmation</h1>

<p>Hi <%= @user_document.user.username %>, you've added <%= @user_document.title %> bill to your logs</p>
<p>We will remind you on <%=@user_document.reminder_date.strftime("%B %e %Y")%> to pay your bill. If you want to change the reminder date please go to <%= link_to "this bill page", user_document_url(@user_document) %></p>
